<% include ../partials/head %>
<body class="sign-page thank-you">
<div class="page-container">

<div class="hero">
  <div class="grid-container">
    <h1 data-content="They march, we make">They march, we make</h1>
    <% if (sign) { %>
      <div class="row your-sign">
        <div class="col-sml-12 col-med-6 col-lrg-5 col-lrg-offset-1">
          <div class="sign-image">

            <% if (sign.is_image) { %>
              <img class="image-file" src="<%= sign.image_url %>" alt="<%= sign.name %>'s image" />
            <% } else { %>
              <div class="sign-slogan-container">
                <div class="sign-slogan">
                  <img src="../assets/img/divider-charcoal.svg" alt="----" class="divider center" />
                  <%= sign.sign %>
                </div>
              </div>
            <% } %>
          </div>

        </div>

        <div class="col-sml-12 col-med-4 col-lrg-3 col-med-offset-1 sign-info">
          <div class="sign-creds">
            <span class="body-copy mini">idea by</span>
            <span class="all-caps"><%= sign.name %></span>
            <div class="body-copy mini"><%= sign.tagline %>
                <% if (sign.url) { %>
                  <a href="<%= sign.url %>" target="_blank" class="icon-link" title="Go to their website"></a>
                <% } %>
            </div>
          </div>

          <div class="sign-buttons">
            <a href="" class="btn secondary">Download</a>
            <div class="btn secondary get-url">Share</div>
            <div class="btn secondary copy-url">URL:
              <span>signsforscience.com/sign/<%= sign.slug %></span>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="emb"></div>
</div>

<div class="sign-cta">
  <div class="grid-container">
    <img src="../assets/img/divider.svg" alt="----" class="divider center" />
    <h2 data-content="Feeling inspired?">Feeling inspired?</h2>
    <p class="body-copy">Come up with your own sign idea! We need them to support the <a href="marchforscience.com" target="_blank">March for Science</a> and the <a href="https://peoplesclimate.org" target="_blank">People’s Climate March</a>. Make them provocative, inclusive, and positive. <a href="about">Read the brief</a>, or...</p>
    <a href="../create" class="btn">Add your sign</a>
  </div>
  <div class="emb emb-1"></div>
</div>

<div class="row gallery" id="gallery" data-initial-page="0">
  <div class="filter" id="filter">
    <img src="../assets/img/divider.svg" alt="----" class="divider center" />
    <div class="body-copy mini">Join in the fight!</div>
    <a href="../create" class="btn square">Add your sign</a>
  </div>
</div>

</div>

<% include ../partials/footer %>